In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load
file = '/Users/matthewvicario/Pandas-Challenge/HeroesOfPymoli/Resources/purchase_data.csv'

#Read Purchasing File and store into Pandas data frame
purchasedata_df = pd.read_csv(file)

#Check the data headings and ensure file has been imported
purchasedata_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Display the total number of players
total_players = purchasedata_df["SN"].nunique()
total_players

576

In [4]:
#Create Dataframe to display total figure count
tp_df = pd.DataFrame(
    {"Total Players": ["576"]
    }
)
tp_df

  Total Players
0           576

     Purchasing Analysis (Total)

In [5]:
#Find unique items in the dataframe
unique_items = purchasedata_df['Item ID'].nunique()

#Find average price of dataframe and round to 2 decimals
average_price = round(purchasedata_df['Price'].mean(),2)

#Find the total count of purchases
purchases = purchasedata_df['Item ID'].count()

#Sum the total revenue of the Price column
total_rev = purchasedata_df['Price'].sum()

179

In [9]:
#Create new dataframe table with above analysis
puranalysis_df = pd.DataFrame(
    {"Number of Unique Items": [unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [purchases],
    "Total Revenue": [total_rev]
    }
)
#Reformat to include $ signs
puranalysis_df["Average Price"] = puranalysis_df["Average Price"].map("$ {:,.2f}".format)
puranalysis_df["Total Revenue"] = puranalysis_df["Total Revenue"].map("$ {:,.2f}".format)
puranalysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179        $ 3.05                  780    $ 2,379.77

        Gender Demographics

In [24]:
#First, remove duplicate purchasers from list
gender_info_df = pd.DataFrame(purchasedata_df.drop_duplicates(["SN"]))

#Group by gender categories
gender_group = gender_info_df.groupby(['Gender'])

#Create DataFrame to tally gender categories and calculate percentage
genderdata_df = pd.DataFrame(
    {"Total Count":gender_group['Gender'].count(),
     "Percent of Players": gender_group['Gender'].count()/total_players*100
    }
)

#Reformat to include percentage sign
genderdata_df["Percent of Players"] = genderdata_df["Percent of Players"].map("{:.2f}%".format)
genderdata_df

                       Total Count Percent of Players
Gender
Female                          81             14.06%
Male                           484             84.03%
Other / Non-Disclosed           11              1.91%