In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load
file = '/Users/matthewvicario/Pandas-Challenge/HeroesOfPymoli/Resources/purchase_data.csv'

#Read Purchasing File and store into Pandas data frame
purchasedata_df = pd.read_csv(file)

#Check the data headings and ensure file has been imported
purchasedata_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Display the total number of players
total_players = purchasedata_df["SN"].nunique()

In [4]:
#Create Dataframe to display total figure count
tp_df = pd.DataFrame({"Total Players": ["576"]})
tp_df

  Total Players
0           576

     Purchasing Analysis (Total)

In [5]:
#Find unique items in the dataframe
unique_items = purchasedata_df['Item ID'].nunique()

#Find average price of dataframe and round to 2 decimals
average_price = round(purchasedata_df['Price'].mean(),2)

#Find the total count of purchases
purchases = purchasedata_df['Item ID'].count()

#Sum the total revenue of the Price column
total_rev = purchasedata_df['Price'].sum()

In [6]:
#Create new dataframe table with above analysis
puranalysis_df = pd.DataFrame(
    {"Number of Unique Items": [unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [purchases],
    "Total Revenue": [total_rev]
    }
)
#Reformat to include $ signs
puranalysis_df["Average Price"] = puranalysis_df["Average Price"].map("$ {:,.2f}".format)
puranalysis_df["Total Revenue"] = puranalysis_df["Total Revenue"].map("$ {:,.2f}".format)
puranalysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179        $ 3.05                  780    $ 2,379.77

        Gender Demographics

In [7]:
#First, remove duplicate purchasers from list
demo_info_df = pd.DataFrame(purchasedata_df.drop_duplicates(["SN"]))

#Group by gender categories
demo_group = demo_info_df.groupby(['Gender'])

#Create DataFrame to tally gender categories and calculate percentage
demodata_df = pd.DataFrame(
    {"Total Count":demo_group['Gender'].count(),
     "Percent of Players": demo_group['Gender'].count()/total_players*100
    }
)

#Reformat to include percentage sign
demodata_df["Percent of Players"] = demodata_df["Percent of Players"].map("{:.2f}%".format)
demodata_df

                       Total Count Percent of Players
Gender
Female                          81             14.06%
Male                           484             84.03%
Other / Non-Disclosed           11              1.91%

        Purchasing Analysis (Gender)

In [40]:
#Create new dataframe from original information
gen_analysis_df = pd.DataFrame(purchasedata_df)

#Group full data scope by gender
gen_pur_count = gen_analysis_df.groupby(['Gender'])

#Obtain purchase count by gender
#Obtain average purchase price by gender
#Obtain total purchase value by gender
#Obtain average purchase total per person by gender
gen_pur_df = pd.DataFrame({
    "Purchase Count":gen_pur_count["Price"].count(),
    "Average Purchase Price":gen_pur_count["Price"].mean(),
    "Total Purchase Value":gen_pur_count["Price"].sum(),
    "Avg Total Purchase Per Person":gen_pur_count["Price"].sum()/demodata_df["Total Count"]})  

#Reformat to include $ signs and correct decimals
gen_pur_df["Average Purchase Price"] = gen_pur_df["Average Purchase Price"].map("${:,.2f}".format)
gen_pur_df["Total Purchase Value"] = gen_pur_df["Total Purchase Value"].map("${:,.2f}".format)
gen_pur_df["Avg Total Purchase Per Person"] = gen_pur_df["Avg Total Purchase Per Person"].map("${:,.2f}".format)

gen_pur_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

          Age Demographics

In [10]:
#Create new dataframe from original information
#age_df = pd.DataFrame(purchasedata_df)

#Establish age bins
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
categories = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#Categorize the existing players using the age bins. Hint: use pd.cut()
purchasedata_df["Age Ranges"] = pd.cut(purchasedata_df["Age"], bins, labels = categories)
age_df = purchasedata_df.groupby(["Age Ranges"])

#Calculate the numbers and percentages by age group
player_age = age_df["SN"].nunique()
age_percent = age_df["SN"].nunique()/total_players*100

age_demographics = pd.DataFrame({"Total Count": player_age,
                                "Percentage of Players": age_percent})

#Reformat to include percentage sign
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}%".format)

age_demographics

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

           Purchasing Analysis (Age)

In [11]:
#Obtain purchase count per age group
age_pur_count = age_df["SN"].count()

#Obtain average purchase price per age group
age_pur_ave = age_df["Price"].sum()/age_pur_count

#Obtain total purchase value per age group
age_pur_value = age_pur_count * age_pur_ave

#Obtain average purchase total per person 
age_tv_pp = age_df["Price"].sum()/age_df["SN"].nunique()

#Create the table
age_pur_analysis = pd.DataFrame({"Purchase Count": age_pur_count,
                                "Average Purchase Price": age_pur_ave,
                                "Total Purchase Value": age_pur_value,
                                "Avg Total Purchase Per Person": age_tv_pp})

#Reformat appropriately
age_pur_analysis["Average Purchase Price"] = age_pur_analysis["Average Purchase Price"].map("$ {:,.2f}".format)
age_pur_analysis["Total Purchase Value"] = age_pur_analysis["Total Purchase Value"].map("$ {:,.2f}".format)
age_pur_analysis["Avg Total Purchase Per Person"] = age_pur_analysis["Avg Total Purchase Per Person"].map("$ {:,.2f}".format)

age_pur_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Ranges,,,,
<10,23,$ 3.35,$ 77.13,$ 4.54
10-14,28,$ 2.96,$ 82.78,$ 3.76
15-19,136,$ 3.04,$ 412.89,$ 3.86
20-24,365,$ 3.05,"$ 1,114.06",$ 4.32
25-29,101,$ 2.90,$ 293.00,$ 3.81
30-34,73,$ 2.93,$ 214.00,$ 4.12
35-39,41,$ 3.60,$ 147.67,$ 4.76
40+,13,$ 2.94,$ 38.24,$ 3.19

        Top Spenders

In [12]:
#Group dataset by the username column
top_spenders_df = purchasedata_df.groupby(["SN"])

#Obtain player's purchase count
top_pur_count = top_spenders_df["SN"].count()

#Obtain player's average spend
top_pur_ave = top_spenders_df["Price"].sum()/top_pur_count

#Obtain player's total spend
top_pur_total = top_pur_count * top_pur_ave

#Create summary table
top_spenders = pd.DataFrame({"Purchase Count":top_pur_count,
                            "Average Purchase Price": top_pur_ave,
                            "Total Purchase Value": top_pur_total})

#Arrange the purchase column to start at the the hightest total purchase value
top_spenders_sort = top_spenders.sort_values("Total Purchase Value", ascending = False)

#Reformat appropriately
top_spenders_sort["Average Purchase Price"] = top_spenders_sort["Average Purchase Price"].map("$ {:,.2f}".format)
top_spenders_sort["Total Purchase Value"] = top_spenders_sort["Total Purchase Value"].map("$ {:,.2f}".format)

top_spenders_sort.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                 $ 3.79              $ 18.96
Idastidru52               4                 $ 3.86              $ 15.45
Chamjask73                3                 $ 4.61              $ 13.83
Iral74                    4                 $ 3.40              $ 13.62
Iskadarya95               3                 $ 4.37              $ 13.10

         Most Popular Items

In [33]:
pop_items_df = purchasedata_df.groupby(["Item ID"])

#Obtain and group the item names
item_name = pop_items_df["Item Name"].max()

#Obtain item purchase count
item_pur_count = pop_items_df["SN"].count()

#Obtain item purchase price
item_price = pop_items_df["Price"].max()

#Obtain total item price
item_total_val = item_pur_count * item_price

#Create summary table
pop_items = pd.DataFrame({"Item Name": item_name,
                        "Purchase Count":item_pur_count,
                        "Item Price": item_price,
                        "Total Purchase Value": item_total_val})

#Arrange the purchase column to start at the the highest purchase count
pop_items_sort = pop_items.sort_values("Purchase Count", ascending = False)

#Reformat appropriately
pop_items_sort["Item Price"] = pop_items_sort["Item Price"].map("$ {:,.2f}".format)
pop_items_sort["Total Purchase Value"] = pop_items_sort["Total Purchase Value"].map("$ {:,.2f}".format)

pop_items_sort.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$ 4.88,$ 63.44
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
132,Persuasion,9,$ 3.33,$ 29.97
108,"Extraction, Quickblade Of Trembling Hands",9,$ 3.53,$ 31.77

         Most Profitable Items

In [38]:
#Change above table to sort from highest Total Purchase Value 
profitable_items = pop_items.sort_values("Total Purchase Value", ascending = False)

#Reformat
profitable_items["Item Price"] = profitable_items["Item Price"].map("$ {:,.2f}".format)
profitable_items["Total Purchase Value"] = profitable_items["Total Purchase Value"].map("$ {:,.2f}".format)

profitable_items.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$ 4.88,$ 63.44
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
82,Nirvana,9,$ 4.90,$ 44.10
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
103,Singed Scalpel,8,$ 4.35,$ 34.80