In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load
file = '/Users/matthewvicario/Pandas-Challenge/HeroesOfPymoli/Resources/purchase_data.csv'

#Read Purchasing File and store into Pandas data frame
purchasedata_df = pd.read_csv(file)

#Check the data headings and ensure file has been imported
purchasedata_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Display the total number of players
total_players = purchasedata_df["SN"].value_counts()
total_players

Lisosia93      5
Idastidru52    4
Iral74         4
Asur53         3
Ilarin91       3
              ..
Chadossa56     1
Yadam35        1
Maridisya31    1
Chadjask85     1
Isursuir31     1
Name: SN, Length: 576, dtype: int64

NameError: name 'pd' is not defined

In [ ]:
     Purchasing Analysis (Total)
 
Run basic calculations to obtain number of unique items, average price, etc.


Create a summary data frame to hold the results


Optional: give the displayed data cleaner formatting


Display the summary data frame